<html>
  <head>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Rock, Paper, Scissors</title>
  </head>
  <body background="images/brick.jpg">
    <div class="container">
    <h1 class="text-center" style="text-color:#A0B4C0">Play Rock, Paper, Scissors</h1>

    <div class="col-lg-6" style="background-color:#A0B4C0;">
      <h2>Player One</h2>

          <form action='/rps_results'>
            <div class="form-group">
              <input type='radio' name='first_input' value='rock' checked><img src="images/rock.jpg" width="50px" height="50px"/>
            </div>
              <div class="form-group">
              <input type='radio' name='first_input' value='paper' checked><img src="images/paper.jpg" width="50px" height="50px"/>
            </div>
              <div class="form-group">
              <input type='radio' name='first_input' value='scissors' checked><img src="images/scissors.jpg" width="50px" height="50px"/>
            </div>
      </div>

      <div class="col-lg-6" style="background-color:#A0B4C0;">

      <h2>Player Two</h2>
          <div class="form-group">
              <input type='radio' name='second_input' value='rock' checked><img src="images/rock.jpg" width="50px" height="50px"/>
            </div>
            <div class="form-group">
              <input type='radio' name='second_input' value='paper' checked><img src="images/paper.jpg" width="50px" height="50px"/>
            </div>
            <div class="form-group">
              <input type='radio' name='second_input' value='scissors' checked><img src="images/scissors.jpg" width="50px" height="50px"/>
            </div>
      </div>



      </div>
      <br>
      <button type='submit' class="btn center-block">Go!</button>
      </form>

  </body>
</html>
