<html>
  <head>
    <title>Rock, Paper, Scissors</title>
  </head>
  <body>
    <h1>Play Rock, Paper, Scissors</h1>
    <h2>Player One</h2>

        <form action='/rps_results'>
            <input type='radio' name='first_input' value='rock' checked>Rock
            <br>
            <input type='radio' name='first_input' value='paper' checked>Paper
            <br>
            <input type='radio' name='first_input' value='scissors' checked>Scissors
            <br>

            <h2>Player Two</h2>

            <input type='radio' name='second_input' value='rock' checked>Rock
            <br>
            <input type='radio' name='second_input' value='paper' checked>Paper
            <br>
            <input type='radio' name='second_input' value='scissors' checked>Scissors
            <br>


            <button type='submit'>Go!</button> 
        </form>




  </body>
</html>
